/*noinspection DuplicatedCode*/
.ACTIVE_BTN {
    border-color: #ff865b;
    border-width: 2px;
}

.INACTIVE_BTN {
    border-color: transparent;
}

.BASE_BTN {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    border-left: 8px;
}

.INACTIVE_ICON {
    filter: brightness(50%);
}

.INACTIVE_ICON:hover {
    filter: brightness(75%);
}

.BASE_ICON {
    color: #9FB9D0;
    width: 28px;
    height: 28px;
}
